<section>
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        Bem vindo(a)!
      </div>
      <div class="input-container mb-2">
        <label for="username">USERNAME</label>
        <input type="text" id="username" placeholder="Username" class="form-control" [(ngModel)]="username">
      </div>
      <div class="input-container mb-2">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="password">
      </div>
      <div>
        <button class="btn btn-success" (click)="login()">Entrar</button>
      </div>
    </div>
  </div>
</section>